[submodule "pico-sdk"]
	path = pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "src/bluetooth-stdio"]
	path = src/bluetooth-stdio
	url = https://github.com/Memotech-Bill/bluetooth-stdio.git
